{% extends 'base.html' %}
{% load static %}

{% block title %} Cameras {% endblock %}

{% block add_style %}
    <link rel="stylesheet" href="{% static 'surveillance/css/camera-list-view.css' %}">
{% endblock %}

{% block content %}

    <section class="camera-list">
        {% for camera in object_list %}
            <a href="{% url 'surveillance:camera_detail_view' camera.pk %}">
                <figure>
                    <img src="{% url 'surveillance:violence_video_feed' camera.pk %}">
                    <fig-camption>
                        <br>
                        <strong>Camera-{{ camera.pk }}</strong><br>
                        <strong>{{ camera.place }}</strong>
                    </fig-camption>
                </figure>
            </a>
        {% endfor %}
    </section>

{% endblock %}